# 编辑器统一配置：UTF-8 / LF / 缩进
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,hpp,c,cpp,cc}]
indent_style = space
indent_size = 4

[*.{json,proto,cmake,txt,md}]
indent_style = space
indent_size = 2

[*.proto]
indent_size = 4

[*.bat]
end_of_line = crlf
